{% if object.isDeleted %}
    {% if admin.isGranted('EDIT', object) and admin.hasRoute('edit') %}
        <a href="{{ admin.generateObjectUrl('undelete', object) }}" class="btn btn-sm btn-default edit_link" title="{{ 'action_undelete'|trans({}, 'XimaCoreBundle') }}">
            <i class="custom-icon-recycle"></i>
        </a>
    {% endif %}
{% endif %}