{% extends 'SonataAdminBundle::standard_layout.html.twig' %}

{% block stylesheets %}
    {% stylesheets '@XimaCoreBundle/Resources/public/css/Admin/style.css' filter='cssrewrite' %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
    {{ parent() }}
{% endblock %}

{% block side_bar_after_nav %}
    <p id="version" class="text-center small"><a href="{{ path('release_notes') }}">v{{ version }}</a></p>
{% endblock %}